<!--This is the View for team data. When the /teamData mapping is access through the browser the controller gathers data
from the model and places it into attributes to be used by this view. This essentially inserts the data into the HTML for
display. The controller then returns the fully generated view file containing all the template HTML as well as the
data-generated HTML to the browser for rendering.
-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Football Team Data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:each="team: ${teams}">
    <div th:text="${team.teamName} + ' Roster'" />
    <ul>
        <table border="1" width="500">
            <tr bgcolor="#dddddd">
                <td>Name</td>
                <td>Position</td>
                <td>Number</td>
                <td>Age</td>
                <td>Height</td>
                <td>Weight</td>
            </tr>
        <div th:each="player: ${team.players}">
                <tr>
                    <td width="150" th:text="${player.name}" />
                    <td th:text="${player.position}" />
                    <td th:text="${player.number}" />
                    <td th:text="${player.age}" />
                    <td th:text="${player.height}" />
                    <td th:text="${player.weight}" />
                </tr>
        </div>
        </table>
    </ul>
</div>
<div th:each="record: ${records}">
    <div th:text="${record.teamName} + ' Records'" />
    <ul>
        <table border="1" width="500">
            <tr bgcolor="#dddddd">
                <td>Opponent</td>
                <td>Result</td>
                <td>Score</td>
            </tr>
            <div th:each="gameResult: ${record.gameResults}">
                <tr>
                    <td th:text="${gameResult.opponent}" />
                    <td th:text="${gameResult.result}" />
                    <td th:text="${gameResult.score}" />
                </tr>
            </div>
        </table>
    </ul>
</div>
</body>
</html>